---
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import importImage from "@scripts/dynamicImportImage";
import externalPosts from "./news/externalPosts";
import cover from "@assets/photos/ws18_session.jpg";
import cover_ascii from "@assets/photos/ws18_session_ascii.png";
import marty from "@assets/misc/marty.webp";
import overview from "@assets/photos/sh16_discuss.jpg";
import codebase from "@assets/logos/codebase-logo.png";
import hypercube from "@assets/logos/hypercube-logo.png";
import codeclub from "@assets/logos/codeclub-logo.png";
import robotical from "@assets/logos/robotical-logo.png";
import uoe from "@assets/logos/uoe-logo.png";


// Find the most recent news post
const latestExternalPost = externalPosts[0];

const blogPosts = await getCollection("posts");
const latestInternalPost = blogPosts.at(-1)!;

const recentNews = latestExternalPost.date > latestInternalPost.data.date ? {
	title: latestExternalPost.title,
	desc: latestExternalPost.desc,
	date: latestExternalPost.date,
	url: latestExternalPost.url,
	img: latestExternalPost.banner,
	imgAlt: latestExternalPost.bannerAlt,
	external: true
} : {
	title: latestInternalPost.data.title,
	desc: latestInternalPost.data.desc,
	date: latestInternalPost.data.date,
	url: `/news/${latestInternalPost.id}/`,
	img: await importImage(latestInternalPost.data.coverImage),
	imgAlt: latestInternalPost.data.coverImage.alt
};

// List of sponsors at bottom of page
const sponsors = [
	{ name: "CodeBase", href: "https://thisiscodebase.com", src: codebase, style: "py-4" },
	{ name: "Hypercube", href: "https://wearehypercube.com", src: hypercube, style: "py-4" },
	{ name: "CodeClub", href: "https://www.codeclub.org/", src: codeclub },
	{ name: "Robotical", href: "https://robotical.io", src: robotical },
	{ name: "University of Edinburgh", href: "https://www.ed.ac.uk", src: uoe }
];

const coverImageAlt = "A room full of young people working on laptops at low and high tables";
---

<BaseLayout
	title="Home"
	ogTitle="Welcome to Prewired!"
	desc="Welcome to Prewired, a free Edinburgh programming club for young people. If you're under 19 years old and interested in learning to code, or want support taking your passion further, you're in the right place!"
	type="website"
	coverImageData={cover}
	coverImageAlt={coverImageAlt}
>
	<!-- Cover -->
	<section class="relative flex flex-col-reverse lg:block lg:h-120 xl:h-140 lg:px-8 lg:border-b overflow-hidden">
		<div class="relative max-w-360 mx-auto h-full flex flex-col justify-center z-10">
			<div class="lg:w-md md:max-lg:mx-auto px-4 lg:px-0 py-6 text-center lg:text-left text-balance">
				<h1 class="mb-4 font-semibold text-3xl lg:text-4xl">
					Create anything you can think of at <span class="text-blue-750">Prewired</span>! 
				</h1>
				<p class="mb-8 font-[450] lg:text-xl">
					The free creative coding club for young people in Edinburgh.
				</p>
			</div>
		</div>
		<div class="lg:absolute h-full w-full lg:w-[65%] max-w-360 top-0 right-0">
			<Picture priority
				src={cover_ascii}
				formats={["avif", "webp"]}
				alt=""
				class="absolute h-60 md:h-72 lg:h-120 xl:h-140 object-cover object-bottom sm:object-center mask-linear-178 mask-linear-from-80% mask-linear-to-90% lg:-mask-linear-85 lg:mask-linear-from-60% lg:mask-linear-to-90%"
			/>
			<Picture priority
				src={cover}
				formats={["avif", "webp"]}
				alt={coverImageAlt}
				class="h-60 md:h-72 lg:h-120 xl:h-140 object-cover object-bottom sm:object-center mask-linear-178 mask-linear-from-50% mask-linear-to-80% sm:mask-linear-from-60% lg:-mask-linear-85 lg:mask-linear-from-30% lg:mask-linear-to-60%"
			/>
		</div>
	</section>

	<!-- Events calendar -->
	<section class="lg:px-8 relative -top-6 lg:-top-32 mt-4 lg:mt-0 -mb-6 lg:-mb-32 border-b z-20 text-center lg:text-left">
		<div class="max-w-360 mx-auto flex flex-col lg:flex-row">
			<div class="w-full lg:w-2/3 pb-8">
				<p class="relative w-fit mx-auto lg:ml-1 lg:mr-0 lg:mb-1 z-20 font-[450] text-purple-700">
					Book your spot
					<svg width="13" height="12" viewBox="0 0 13 12" class="inline ml-1 mt-2 fill-purple-700" xmlns="http://www.w3.org/2000/svg">
						<path d="M9.25 8.625L11.4194 6.45562C11.5703 6.30465 11.7465 6.22917 11.9479 6.22917C12.1493 6.22917 12.3264 6.30556 12.4792 6.45833C12.6319 6.61111 12.7083 6.78938 12.7083 6.99313C12.7083 7.19674 12.6319 7.37264 12.4792 7.52083L9.02667 10.9708C8.95125 11.0458 8.86951 11.1007 8.78146 11.1354C8.6934 11.1701 8.59903 11.1875 8.49833 11.1875C8.39778 11.1875 8.30347 11.1701 8.21542 11.1354C8.12736 11.1007 8.04861 11.0486 7.97917 10.9792L4.51625 7.51625C4.36653 7.36653 4.29167 7.19097 4.29167 6.98958C4.29167 6.78819 4.36806 6.60778 4.52083 6.44833C4.67361 6.30222 4.85069 6.22917 5.05208 6.22917C5.25347 6.22917 5.42903 6.30403 5.57875 6.45375L7.75 8.625V1.5H0.75C0.5375 1.5 0.359375 1.42854 0.215624 1.28563C0.0718745 1.14271 0 0.965625 0 0.754375C0 0.543125 0.0718745 0.364583 0.215624 0.21875C0.359375 0.0729163 0.5375 -3.33413e-07 0.75 -3.33413e-07H7.75C8.1625 -3.33413e-07 8.51563 0.146875 8.80938 0.440625C9.10313 0.734375 9.25 1.0875 9.25 1.5V8.625Z" />
					</svg>
				</p>
				<!-- TicketTailor Widget -->
				<div class="tt-widget">
					<div class="tt-widget-fallback">
						<p>
							🔴 Apologies, our calendar widget is not accessible at the moment.
						</p>
						<p>
							<a href="https://www.tickettailor.com/all-tickets-by-date/prewired/?ref=website_widget&show_event_filter=false" target="_blank">
								Click here to book tickets
							</a>
						</p>
					</div>
					<script is:inline
						src="https://cdn.tickettailor.com/js/widgets/min/widget.js"
						data-url="https://www.tickettailor.com/all-tickets-by-date/prewired/?ref=website_widget&show_event_filter=false"
						data-type="inline"
						data-inline-minimal="true"
						data-inline-show-logo="false"
						data-inline-bg-fill="true"
						data-inline-inherit-ref-from-url-param=""
						data-inline-ref="website_widget">
					</script>
				</div>
				<small class="max-w-[10ch] text-gray-500 italic">
					Widget not loading? See our <a href="https://www.tickettailor.com/events/prewired/" target="_blank" rel="noreferrer noopener">events page</a>.
				</small>
			</div>
			<div class="relative block w-full lg:w-1/3 lg:mt-32 p-8 pb-0 lg:pt-32 lg:pb-8 lg:border-l">
				<div class="relative bg-pink-50 px-6 py-8 rounded-xl after:absolute after:bottom-0 after:left-10 after:w-0 after:h-0 after:border-32 after:border-transparent after:border-t-pink-50 after:border-b-0 after:border-l-0 after:-ml-2 after:-mb-4">
					<h2 class="pt-0 mb-0 border-b-0 text-pink-900">
						Stay in touch!
					</h2>
					<p class="text-base pb-2">
						Joining our mailing list is the best way to stay up-to-date with what's happening at Prewired.
					</p>
					<a
						href="http://eepurl.com/dv2dPb"
						target="_blank" rel="noopener"
						class="w-fit px-4 py-3 bg-pink-600 rounded-md cursor-pointer text-base text-white no-underline hover:border-transparent hover:bg-pink-800 active:bg-pink-900 transition"
					>
						Join our mailing list
					</a>
				</div>
				<Picture
					src={marty}
					formats={["avif", "webp"]}
					alt=""
					class="w-32 mt-2 -ml-8"
				/>
			</div>
		</div>
	</section>
	<div class="hidden lg:block h-8 border-b diastripe"></div>

	<!-- Overview -->
	<section class="flex flex-col lg:flex-row lg:items-center lg:justify-center bg-blue-50 border-b">
		<div class="lg:w-1/2 lg:py-24 lg:border-r shrink-0">
			<Picture priority
				src={overview}
				formats={["avif", "webp"]}
				alt="Three teenagers coding on laptops while chatting to each other"
				class="h-60 lg:h-112 lg:w-[80%] lg:max-w-xl lg:float-right lg:mr-16 object-cover lg:rounded-lg"
			/>
		</div>
		<div class="md:w-3/4 md:max-lg:mx-auto lg:w-1/2 lg:ml-12 px-4 py-8 lg:py-0 sm:text-center lg:text-left">
			<h1 class="mb-4 font-semibold text-2xl md:text-3xl">
				What we do
			</h1>
			<p class="max-w-[42ch] sm:max-lg:mx-auto md:text-lg">
				We are a charity that runs a coding club for young people aged 7-17. If you're interested in technology, or want support taking your passion further, you're in the right place!
			</p>
			<p class="max-w-[42ch] sm:max-lg:mx-auto mb-8 md:text-lg">
				Every Wednesday evening, we meet at CodeBase Edinburgh. You can bring your own project to work on or chat to one of our volunteers about how to get started!
			</p>
			<a
				href="/activities/"
				class="block w-full sm:w-fit sm:mx-auto lg:mx-0 px-4 py-3 bg-blue-700 rounded-md cursor-pointer text-white text-center no-underline hover:bg-blue-800 active:bg-blue-900"
			>
				Read more about our activities
			</a>
		</div>
	</section>

	<!-- Recent news -->
	<section class="flex flex-col lg:flex-row-reverse lg:justify-center">
		<div class="lg:w-1/2 lg:py-24 shrink-0">
			<Picture priority
				src={recentNews.img}
				formats={["avif", "webp"]}
				alt={recentNews.imgAlt}
				class="h-60 lg:h-96 lg:w-[80%] lg:max-w-xl lg:ml-16 object-cover lg:rounded-lg"
			/>
		</div>
		<div class="md:w-3/4 lg:w-1/2 md:max-lg:mx-auto px-4 lg:pr-12 py-8 lg:border-r lg:flex lg:flex-col lg:justify-center lg:items-end sm:text-center lg:text-right">
			<small class="font-[550] text-purple-600 uppercase">
				Latest news &middot; { recentNews.date.toLocaleDateString("en-GB") }
			</small>
			<h1 class="max-w-[24ch] sm:max-lg:mx-auto mb-4 font-semibold text-2xl md:text-3xl">
				{ recentNews.title }
			</h1>
			<p class="max-w-[42ch] sm:max-lg:mx-auto md:text-lg italic">
				{ recentNews.desc }
			</p>
			<div class="flex flex-col sm:flex-row sm:justify-center lg:flex-row-reverse mt-4 gap-4">
				<a
					href={recentNews.url}
					target={recentNews.external ? "_blank" : "_self"}
					rel={recentNews.external ? "noopener noreferrer" : undefined}
					class="w-full sm:w-fit sm:mx-0 px-4 py-3 bg-purple-600 rounded-md cursor-pointer text-white text-center no-underline hover:bg-purple-800 active:bg-purple-900"
				>
					Read more
				</a>
				<a
					href="/news/"
					class="w-full sm:w-fit sm:mx-0 px-4 py-3 bg-purple-100 rounded-md cursor-pointer text-black text-center no-underline hover:bg-purple-200 active:bg-purple-300"
				>
					See all updates
				</a>
			</div>
		</div>
	</section>

	<!-- Impact -->
	<section class="bg-pink-50 border-y">
		<h1 class="font-semibold text-xl md:text-2xl text-center text-pink-700 mb-0 py-12 lg:border-b">
			Small team, large impact...
		</h1>
		<div class="flex flex-wrap justify-center gap-y-4 md:gap-y-8 max-w-7xl mx-auto pb-8 md:pb-0 lg:divide-x text-center *:w-1/3 *:min-w-66 md:*:py-12 lg:*:py-16 ">
			<div class="min-[83rem]:border-l">
				<p class="text-4xl mb-4">🧑‍💻</p>
				<p class="mb-2 lg:mb-4 font-semibold text-3xl lg:text-5xl text-pink-700">
					150+
				</p>
				<p>unique attendees in 2025</p>
			</div>
			<div>
				<p class="text-4xl mb-4">🗓️</p>
				<p class="mb-2 lg:mb-4 font-semibold text-3xl lg:text-5xl text-pink-700">
					50+
				</p>
				<p>events per year</p>
			</div>
			<div class="relative min-[83rem]:border-r">
				<p class="text-4xl mb-4">🍵</p>
				<p class="mb-2 lg:mb-4 font-semibold text-3xl lg:text-5xl text-pink-700">
					100%
				</p>
				<p>volunteer-run</p>
				<a
					href="/volunteering/"
					class="absolute -bottom-6 md:bottom-6 lg:bottom-10 right-14 px-4 py-2 bg-pink-600 hover:bg-pink-800 border-b-2 border-pink-900 active:border-b-0 active:mt-0.5 rounded-lg -rotate-3 font-semibold uppercase text-white no-underline"
				>
					Get involved!
				</a>
			</div>
		</div>
	</section>

	<!-- Sponsors -->
	<section class="text-center text-balance">
		<div class="max-w-5xl mx-auto pt-16 pb-8 lg:pb-20 min-[67rem]:border-x">
			<h1 class="max-md:text-xl mb-4">
				Sponsors & supporters
			</h1>
			<p class="max-w-full mb-0">
				In addition to the accommodation generously provided by CodeBase, Prewired could not exist without the support from our sponsors, donors, and supporters.
			</p>
		</div>
		<div class="relative md:border-y after:hidden after:xl:block after:absolute after:w-full after:h-px after:left-0 after:top-36 after:bg-gray-200">
			<div class="max-w-7xl mx-auto flex flex-col md:flex-row flex-wrap items-center justify-center md:divide-x md:divide-y">
				{ sponsors.map(({name, href, src, style}) => (
					<a href={href} target="_blank" rel="noopener" class="md:w-1/2 lg:w-1/3 max-md:px-4 py-2 lg:py-8 first:min-[83rem]:border-l nth-2:max-lg:border-r-0 nth-3:lg:max-[83rem]:border-r-0 nth-4:max-lg:border-r-0 nth-4:lg:border-l nth-4:lg:border-b-0 last:md:max-lg:border-l last:md:border-r border-gray-200 hover:bg-blue-50 transition">
						<Picture
							src={src}
							formats={["avif", "webp"]}
							alt={`${name} logo`}
							class={`w-auto h-18 md:h-20 mx-auto object-cover ${style}`}
						/>
					</a>
				))}
			</div>
		</div>
		<p class="max-w-5xl mx-auto mb-0 py-12 min-[67rem]:border-x border-gray-200">
			Thank you!
		</p>
	</section>

	<script>
		// The TicketTailor widget scrolls the page to keep the widget aligned with the top of the page when navigating inside of it, causing annoying jumps
		// Neutering scrollTo is the only way I have managed to prevent this
		// Please forgive me
		window.scrollTo = () => {};
	</script>
</BaseLayout>
