---
import { Image } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";
import BookTicketsButton from "@components/BookTicketsButton.astro";
import cover from "@assets/photos/sh16_discuss.jpg";
import overview from "@assets/photos/ws18_session.jpg";
import codebase from "@assets/logos/codebase-logo.png";
import hypercube from "@assets/logos/hypercube-logo.png";
import robotical from "@assets/logos/robotical-logo.png";
import uoe from "@assets/logos/uoe-logo.png";
import rpf from "@assets/logos/rpf-logo.png";


const sponsors = [
	{ name: "CodeBase", href: "https://thisiscodebase.com", src: codebase, style: "py-4" },
	{ name: "Hypercube", href: "https://wearehypercube.com", src: hypercube, style: "py-4" },
	{ name: "Raspberry Pi Foundation", href: "https://www.raspberrypi.org/", src: rpf, style: "py-2" },
	{ name: "Robotical", href: "https://robotical.io", src: robotical },
	{ name: "University of Edinburgh", href: "https://www.ed.ac.uk", src: uoe }
];
---

<BaseLayout title="Home">
	<!-- Cover -->
	<section class="max-w-screen-xl mx-auto mb-8 lg:mb-24 flex flex-wrap-reverse lg:items-center lg:justify-around">
		<div class="md:w-3/4 md:max-lg:mx-auto lg:w-2/5 text-center lg:text-left pl-4 pr-8 py-2">
			<h1 class="font-semibold text-3xl text-balance mb-4">
				Welcome to <span class="font-bold text-blue-700">Prewired</span>, a free Edinburgh programming club for young people.
			</h1>
			<p class="text-xl mb-8">
				If you're under 19 years old and interested in learning to code, or want support taking your passion further, you're in the right place!
			</p>
			<div class="flex flex-wrap justify-center lg:justify-start gap-4">
				<BookTicketsButton />
				<a
					href="http://eepurl.com/dv2dPb"
					target="_blank" rel="noopener"
					class="px-4 py-3 border border-black rounded-md cursor-pointer text-black no-underline hover:border-transparent hover:bg-black hover:text-white active:bg-black/60"
				>
					Join our mailing list
				</a>
			</div>
		</div>
		<Image
			src={cover}
			alt="Three teenagers coding on laptops while chatting to each other"
			class="w-full lg:w-1/2 h-60 lg:h-96 mb-8 lg:mb-0 object-cover rounded-lg text-xl"
		/>
	</section>

	<!-- Special announcements -->
	<section class="max-w-[56rem] mx-auto mb-8 lg:mb-24 bg-green-50 border-2 border-green-600 rounded-lg shadow-sm overflow-hidden">
		<div class="py-1 bg-green-600">
			<p class="mb-0 font-mono font-semibold text-white text-base text-center uppercase ">
				// Latest announcement //
			</p>
		</div>
		<h1 class="mt-5 pb-4 px-4 border-b-2 border-green-600 text-center font-bold text-3xl">
			Prewired x DS4G Festive Party
		</h1>
		<div class="text-center py-1 px-8">
			<p>
				On 18 December we're hosting a <strong>special festive session</strong> in collaboration with Digital Skills 4 Girls!
			</p>
			<p>
				For more info and free tickets, <a href="https://www.tickettailor.com/events/prewired/1484723" target="_blank" rel="noopener noreferrer">go to the event page</a>.
			</p>
			<p>
				For this end-of-term session there will be several festive-themed activities to choose from, as well as games and plenty of snacks. The desk area will also be set up for a regular Prewired session if you'd rather crack on with your usual projects.
			</p>
			<p>
				This will be our last session of the year&mdash;after this we'll be back on 8 January!
			</p>
		</div>
	</section>

	<!-- Overview -->
	<section class="max-w-screen-xl mx-auto mb-8 lg:mb-24 flex flex-wrap lg:items-center lg:justify-center">
		<Image
			src={overview}
			alt="A room full of young people working on laptops at low and high tables"
			class="w-full lg:w-2/5 h-60 lg:h-[28rem] mb-8 lg:mb-0 object-cover rounded-lg"
		/>
		<div class="md:w-3/4 md:max-lg:mx-auto lg:w-2/5 lg:ml-16 text-center lg:text-left pl-4 pr-8 py-2">
			<h1 class="font-semibold text-3xl text-balance mb-4">
				What we do
			</h1>
			<p class="text-xl">
				Computers let you create anything you can think of. Prewired is here to help enthusiastic young coders of any ability to do just that.
			</p>
			<p class="text-xl mb-8">
				Every Wednesday 5:30&ndash;7:30 PM, we meet at CodeBase Edinburgh. You can bring your own project to work on or chat to one of our volunteers about how to get started!
			</p>
			<a
				href="/attending"
				class="px-4 py-3 bg-blue-100 rounded-md cursor-pointer text-black no-underline hover:bg-blue-700 hover:text-white active:bg-blue-900"
			>
				More about attending
			</a>
		</div>
	</section>

	<!-- Impact -->
	<section class="w-full mb-12 lg:mb-24 py-16 bg-pink-50 rounded-4xl">
		<h1 class="font-semibold text-2xl text-center text-pink-700">
			Small team, large impact...
		</h1>
		<div class="flex flex-wrap justify-center gap-y-8 max-w-screen-xl mt-16 mx-auto text-center">
			<div class="w-1/3 min-w-66">
				<p class="text-4xl mb-4">
					🧑‍💻
				</p>
				<p class="font-mono font-semibold text-5xl text-pink-700">
					120+
				</p>
				<p>
					unique attendees in 2024
				</p>
			</div>
			<div class="w-1/3 min-w-66">
				<p class="text-4xl mb-4">
					🗓️
				</p>
				<p class="font-mono font-semibold text-5xl text-pink-700">
					50+
				</p>
				<p>
					events a year
				</p>
			</div>
			<div class="w-1/3 min-w-66">
				<p class="text-4xl mb-4">
					🍵
				</p>
				<p class="font-mono font-semibold text-5xl text-pink-700">
					100%
				</p>
				<p>
					volunteer-run
				</p>
			</div>
		</div>
	</section>

	<!-- Sponsors -->
	<section class="max-w-screen-xl mx-auto">
		<h1 class="text-center mb-4">
			Sponsors & supporters
		</h1>
		<p class="text-center text-balance mb-12">
			In addition to the accommodation generously provided by CodeBase, Prewired could not exist without the support from our sponsors, donors, and supporters.
		</p>
		<div class="max-w-screen-lg mx-auto flex flex-wrap items-center justify-center gap-x-20 gap-y-8">
			{ sponsors.map(({name, href, src, style}) => (
				<a href={href} target="_blank" rel="noopener" class="hover:opacity-70 transition">
					<Image
						src={src}
						alt={`${name} logo`}
						class={`w-auto h-20 ${style}`}
					/>
				</a>
			))}
		</div>
		<p class="text-center text-balance mt-12">
			Thank you!
		</p>
	</section>
</BaseLayout>
