---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import coverPhoto from "@assets/photos/sh18_live_cr.jpg";
import NewsFeedExternalItem from "@components/NewsFeedExternalItem.astro";


/****  GET LOCAL BLOG POSTS ****/
const posts = await getCollection("posts");


/****  GET EXTERNAL POSTS ****/
type ExternalPost = {
	url: string;
	date: Date;
};

// Links that are commented out are broken links from the OG website
const externalPosts: ExternalPost[] = [
	{ url: "https://wearehypercube.com/prewired-2025/", date: new Date("2025-07-22") },
	{ url: "https://medium.com/@indiathomson/prewired-x-hypercube-summer-make-a-thon-41f03bea0311", date: new Date("2024-08-07") },
	{ url: "https://medium.com/kinandcartacreated/summer-tech-make-a-thon-dedaa474d3eb", date: new Date("2023-10-09")},
	{ url: "https://www.digit.fyi/prewired-receives-funding-to-bring-coding-club-online/", date: new Date("2021-01-20") },
	// { url: "https://scottishbusinessnews.net/prewired-secures-funding-from-creative-informatics-to-take-one-of-scotlands-longest-running-coding-clubs-for-young-people-online/", date: new Date("2021-01-20") },
	// { url: "https://informatics.ed.ac.uk/news-events/news/news-archive/prewired-secures-funding-coding-club-online", date: new Date("2021-01-19") },
	{ url: "https://www.scotsman.com/business/nick-freer-comment-start-ups-hit-all-right-notes-night-193754", date: new Date("2018-12-09") },
	{ url: "https://www.insider.co.uk/news/scottish-tech-startup-awards-finalists-13540999", date: new Date("2018-11-06") },
	{ url: "https://dailybusinessgroup.co.uk/2018/11/scottish-tech-startups-in-battle-for-honours/", date: new Date("2018-11-06") },
	// { url: "https://www.thisiscodebase.com/blog/2018/8/1/summerhack2018-roundup", date: new Date("2018-08-02") },
	{ url: "https://blog.scottlogic.com/2016/08/22/building-the-next-generation-of-technology-professionals.html", date: new Date("2016-08-22") },
	{ url: "https://futurescot.com/hey-teacher-leave-kids-alone-why-children-better-left-to-learn-coding-by-themselves/", date: new Date("2016-04-18") },
	// { url: "https://www.thisiscodebase.com/blog/2015/7/28/prewired-at-codebase-festival-of-code-2015", date: new Date("2015-07-28") },
	{ url: "https://tfn.scot/features/chief-encounters-its-not-all-play-and-now-work-for-freda-obyrne", date: new Date("2015-06-25") }
];


/****  COMBINE DIFFERENT POST TYPES INTO ONE FEED ****/
type FeedItem = {
	id: string;
	date: Date;
	type: "local" | "external";
};

const feed: FeedItem[] = [];
posts.forEach(post => feed.push({ id: post.id, date: post.data.date, type: "local" }));
externalPosts.forEach(post => feed.push({ id: post.url, date: post.date, type: "external" }));

// Sort by date, descending
feed.sort((a, b) => b.date.valueOf() - a.date.valueOf());

// Break up by year
const years: number[] = [];
feed.forEach(post => { if(!years.includes(post.date.getFullYear())) years.push(post.date.getFullYear()) });

const feedByYears = years.map(year => { return { year, posts: feed.filter(post => post.date.getFullYear() === year) } });
---

<PageLayout
	title="News and updates"
	imgSrc={coverPhoto}
	imgAlt="Attendees at Prewired"
>
	<p>
		This page aggregates updates from our own blog with mentions of Prewired in the media, to provide a historic overview of how Prewired has evolved over the years.
	</p>

	{ feedByYears.map(feedYear => (
		<>
			<h2>
				{ feedYear.year }
			</h2>

			{ feedYear.posts.map(feedItem => {
				if(feedItem.type === "local") {
					const post = posts.find(post => post.id === feedItem.id);
					if(!post) return;
					else return (
						<a href={`/news/${post.id}`} class="group text-black! no-underline!">
							<div class="flex mb-4">
								<img
									src={post.data.image?.url}
									alt={post.data.image?.alt}
									class="w-72 h-52 object-cover shrink-0 mr-8 bg-gray-200 rounded-lg"
								/>
								<div>
									<h3 class="mt-0 font-bold text-xl not-italic group-hover:underline">
										{ post.data.title }
									</h3>
									<p class="group-hover:underline">
										{ feedItem.date.toLocaleDateString("en-GB") } &middot; { post.data.excerpt }
									</p>
								</div>
							</div>
						</a>
					);
				}
				else {
					return (
						<NewsFeedExternalItem
							url={feedItem.id}
							date={feedItem.date}
						/>
					);
				}
			})}
		</>
	))}
</PageLayout>
