---
import { Picture } from "astro:assets";
import importImage from "@scripts/dynamicImportImage";

interface Props {
	id: string;
	data: {
		title: string;
		date: Date;
		author: string;
		desc: string;
		coverImage: {
			src: string;
			alt: string;
		};
		tags: string[];
	};
	yearIndex: number;
}

const { id, data, yearIndex } = Astro.props;
const { title, date, desc, coverImage, tags } = data;

const coverImageData = await importImage(coverImage);

const hoverBg = yearIndex % 3 === 0 ? "hover:bg-pink-50" : yearIndex % 3 === 1 ? "hover:bg-purple-50" : "hover:bg-blue-50";
const tagBg = yearIndex % 3 === 0 ? "bg-pink-200" : yearIndex % 3 === 1 ? "bg-purple-200" : "bg-blue-200";
---

<a href={`/news/${id}/`} class={`block relative px-4 md:px-0 pt-4 md:pt-0 col-span-5 col-end-7 text-black! no-underline! ${hoverBg}`}>
	<div class="flex flex-wrap md:flex-nowrap">
		<Picture
			src={coverImageData}
			formats={["avif", "webp"]}
			alt={coverImage.alt}
			class="w-full h-52 object-cover bg-gray-200"
			pictureAttributes={{ class: "w-full md:w-80 shrink-0 md:p-2" }}
		/>
		<div class="max-w-2xl pt-4 md:pt-2 md:px-4 lg:-mt-px">
			<div class="inline-flex">
				{ tags.map(tag => (
					<div class={`mr-2 mb-2 ${tagBg} px-2 py-1 leading-0`}>
						<span class="text-sm font-medium text-black uppercase">
							{ tag }
						</span>
					</div>
				))}
			</div>
			<h3 class="mt-0 mb-1 md:mb-0 font-semibold text-xl not-italic">
				{ title }
			</h3>
			<p>
				{ date.toLocaleDateString("en-GB") } &middot; { desc }
			</p>
		</div>
	</div>
</a>
