---
import { getLinkPreview } from "link-preview-js";


// We cast our post previews as a subset of the actual type in link-preview-js as we only preview web pages, not different media types, and this avoids having to ignore TypeScript
type PostPreview = {
    url: string;
    title: string;
    siteName?: string;
    description?: string;
    mediaType: string;
    contentType?: string;
    images: string[];
    videos?: {
        url?: string;
        secureUrl?: string | null;
        type?: string | null;
        width?: string;
        height?: string;
    }[];
    favicons: string[];
};


interface Props {
	url: string;
	date: Date;
	desc?: string;
	yearIndex: number;
}

const { url, date, desc, yearIndex } = Astro.props;

// Default values to display an error message if data fetching below somehow fails
let postPreview: PostPreview = {
	url: url,
	title: "Post Not Found",
	siteName: "Error",
	description: `Unable to retrieve data from ${url}`,
	favicons: [""],
	mediaType: "",
	images: [""]
};

// Get a preview of the post we're linking to
try {
	postPreview = await getLinkPreview(url, {
		followRedirects: "follow",
		headers: {
			// We pretend to be Slack to circumvent Cloudflare's bot protection
			"user-agent": "Slackbot-LinkExpanding 1.0 (+https://api.slack.com/robots)",
		}
	}) as PostPreview;
}
catch (error) {
	console.error(error);
}

const hoverBg = yearIndex % 3 === 0 ? "bg-pink-50" : yearIndex % 3 === 1 ? "bg-purple-50" : "bg-blue-50";
---

<a href={url} target="_blank" rel="noopener noreferrer" class={`block relative px-4 md:px-0 pt-4 md:pt-0 col-span-5 col-end-7 text-black! no-underline! hover:${hoverBg}`}>
	<div class="flex flex-wrap md:flex-nowrap">
		<div class="w-full md:w-80 shrink-0 md:p-2">
			<img
				src={postPreview.images[0]}
				alt={postPreview.description}
				class="w-full md:w-76 h-52 object-cover bg-gray-200"
			/>
		</div>
		<div class="max-w-2xl pt-4 md:pt-2 md:px-4 -mt-px">
			<div class="flex items-center mb-2 text-sm">
				<img src={postPreview.favicons[0]} alt="Favicon" class="w-4 h-4 mr-2" />
				<span>{ postPreview.siteName }</span>
			</div>
			<h3 class="mt-0 mb-1 md:mb-0 font-semibold text-xl not-italic">
				{ postPreview.title }
			</h3>
			<p>
				{ date.toLocaleDateString("en-GB") } &middot; { desc ?? postPreview.description }
			</p>
		</div>
	</div>
</a>
