---
import PageLayout from "./PageLayout.astro";
import importImage from "@scripts/dynamicImportImage";


interface Props {
	frontmatter: {
		title: string;
		desc: string;
		coverImage: {
			src: string;
			alt: string;
		};
		accent?: "pink" | "purple" | "blue";
	};
	headings: { depth: number; slug: string; text: string }[];
}

const { frontmatter, headings } = Astro.props;
const { title, desc, coverImage, accent } = frontmatter;

const coverImageData = await importImage(coverImage);
---

<PageLayout
	title={title}
	desc={desc}
	coverImageData={coverImageData}
	coverImageAlt={coverImage.alt}
	accent={accent}
	headings={headings}
>
	<div class="md max-w-5xl mx-auto pb-24 md:pb-32 md:px-4 lg:px-8 lg:border-l xl:border-r">
		<slot />
	</div>
</PageLayout>
