---
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	desc: string;
	coverImageData: ImageMetadata;
	coverImageAlt: string;
	accent: "blue" | "purple" | "pink";
	headings?: { depth: number; slug: string; text: string }[];
	noPaddingBottom?: boolean;
}

const { title, desc, coverImageData, coverImageAlt, accent, headings, noPaddingBottom } = Astro.props;
---

<BaseLayout
	title={title}
	desc={desc}
	type="website"
	coverImageData={coverImageData}
	coverImageAlt={coverImageAlt}
>
	<div
		style={{ "--accent": `var(--color-${accent}-50)` }}
		class="relative lg:h-120 bg-(--accent) border-b"
	>
		<Picture priority
			src={coverImageData}
			formats={["avif", "webp"]}
			alt={coverImageAlt}
			class="h-54 lg:h-full object-cover mask-radial-at-top-right mask-radial-[200%_100%] mask-radial-from-99% lg:mask-radial-at-bottom-right lg:mask-radial-[100%_200%] lg:mask-radial-from-50%"
			pictureAttributes={{ class: "block relative lg:absolute lg:h-120 w-full lg:w-3/5 max-w-360 top-0 lg:right-0" }}
		/>
		<div class="h-full max-w-360 mx-auto py-6 lg:py-0 px-4 lg:px-8 flex flex-col justify-end lg:justify-center">
			<h1
				style={{ "--accent": `var(--color-${accent}-950)` }}
				class="max-w-[20ch] xl:text-5xl text-(--accent)"
			>
				{ title }
			</h1>
			<slot name="blurb">
				<p class="max-w-[72ch] lg:max-w-[36ch] xl:max-w-[44ch]">
					{ desc }
				</p>
			</slot>
		</div>
	</div>
	{ headings ? (
		<div class="flex min-h-[50vh]">
			<div class="hidden lg:block sticky top-24 w-60 h-full shrink-0 pt-4 pb-2 border-b">
				<div class="pb-4 px-4 border-b font-semibold text-sm uppercase text-gray-600">
					On this page
				</div>
				{ headings.filter(heading => heading.depth === 2).map(heading => (
					<a
						href={`#${heading.slug}`}
						class="block px-4 py-2 first-of-type:pt-4 text-sm text-gray-600 no-underline hover:underline"
					>
						{ heading.text }
					</a>
				)) }
			</div>
			<div class="grow min-[97rem]:border-l">
				<slot />
			</div>
			<div class="hidden xl:block w-60 shrink-0" />
		</div>
	) :
		<div class={`min-h-[50vh] pb-24 md:pb-32 ${noPaddingBottom && "pb-0!"}`}>
			<slot />
		</div>
	}
	</div>
</BaseLayout>
