---
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	desc: string;
	coverImageData: ImageMetadata;
	coverImageAlt: string;
	accent?: "blue" | "purple" | "pink";
	headings?: { depth: number; slug: string; text: string }[];
}

const { title, desc, coverImageData, coverImageAlt, accent, headings } = Astro.props;
---

<BaseLayout
	title={title}
	desc={desc}
	type="website"
	coverImageData={coverImageData}
	coverImageAlt={coverImageAlt}
>
	<div class={`relative lg:h-72 px-4 ${accent === "pink" ? "bg-pink-50" : accent === "purple" ? "bg-purple-50" : "bg-blue-50"} border-b border-gray-200`}>
		<Picture priority
			src={coverImageData}
			formats={["avif", "webp"]}
			alt={coverImageAlt}
			class="h-54 lg:h-full object-cover mask-linear-182 mask-linear-from-50% mask-linear-to-90% lg:-mask-linear-85 lg:mask-linear-from-60% lg:mask-linear-to-90%"
			pictureAttributes={{ class: "block relative lg:absolute h-full w-[calc(100%+2rem)] lg:w-3/5 max-w-360 top-0 max-lg:-left-4 lg:right-0" }}
		/>
		<div class="h-full max-w-360 mx-auto pb-6 lg:pb-0 flex flex-col justify-end lg:justify-center">
			<h1 class={`max-w-[20ch] lg:text-4xl xl:text-5xl ${accent === "pink" ? "text-pink-950" : accent === "purple" ? "text-purple-950" : "text-blue-950"}`}>
				{ title }
			</h1>
			<p class="max-w-[72ch] lg:max-w-[36ch] xl:max-w-[48ch] mb-0">
				{ desc }
			</p>
		</div>
	</div>
	<div class="flex min-h-[40vh] ">
		{ headings &&
			<div class="hidden lg:block sticky top-24 w-60 h-full shrink-0 pt-4 pb-2 border-b border-gray-200">
				<div class="pb-4 px-4 border-b border-gray-200 font-semibold text-sm uppercase text-zinc-500">
					On this page
				</div>
				{ headings.filter(heading => heading.depth === 2).map(heading => (
					<a
						href={`#${heading.slug}`}
						class="block px-4 py-2 first-of-type:pt-4 text-sm text-zinc-500 no-underline hover:underline"
					>
						{ heading.text }
					</a>
				)) }
			</div>
		}
		<div class={`grow pb-24 md:pb-32 ${headings && "border-l"} border-gray-200`}>
			<div class={`w-full max-w-360 mx-auto px-4 md:px-0 md:border-x ${headings ? "" : "max-w-5xl"}`}>
				<slot />
			</div>
		</div>
		{ headings && <div class="hidden lg:block w-60 shrink-0" /> }
	</div>
</BaseLayout>
