---
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	desc: string;
	coverImg: ImageMetadata;
	coverImgAlt: string;
}

const { title, desc, coverImg, coverImgAlt } = Astro.props;
---

<BaseLayout
	title={title}
	desc={desc}
	type="website"
	coverImg={coverImg}
	coverImgAlt={coverImgAlt}
>
	<div class="max-w-screen-xl mx-auto">
		<div class="relative w-[calc(100%+2rem)] md:w-full -mx-4 md:mx-0 md:rounded-lg bg-black overflow-hidden">
			<Picture priority
				src={coverImg}
				formats={["avif", "webp"]}
				alt={coverImgAlt}
				class="h-60 xl:h-72 object-cover mask-b-from-50%"
			/>
			<div class="max-w-screen-lg mx-auto px-4">
				<div class="absolute bottom-1 md:bottom-2">
					<h1 class="lg:text-5xl text-white text-shadow-lg/50">
						{ title }
					</h1>
				</div>
			</div>
		</div>
		<div class="min-h-[40vh] w-full max-w-screen-lg mx-auto sm:px-4 pt-8 md:pt-12">
			<slot />
		</div>
	</div>
</BaseLayout>
