---
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import importImage from "@scripts/dynamicImportImage";

interface Props {
	frontmatter: {
		title: string;
		date: Date;
		author: string;
		desc: string;
		coverImage: {
			src: string;
			alt: string;
		};
		tags: string[];
	};
}

const { frontmatter } = Astro.props;
const { title, date, author, desc, coverImage, tags } = frontmatter;

const coverImageData = await importImage(coverImage);
---

<BaseLayout
	title={title}
	desc={desc}
	type="article"
	author={author}
	coverImageData={coverImageData}
	coverImageAlt={coverImage.alt}
>
	<div class="flex flex-col lg:flex-row lg:items-end lg:border-b">
		<Picture priority
			src={coverImageData}
			formats={["avif", "webp"]}
			alt={coverImage.alt}
			class="shrink-0 w-full lg:w-3xl h-60 md:h-72 lg:h-full lg:aspect-video object-cover lg:float-right border-b lg:border-b-0 border-gray-200"
			pictureAttributes={{ class: "lg:w-1/2 lg:min-w-2xl lg:p-6 lg:border-r" }}
		/>
		<div class="w-full max-w-3xl lg:w-1/3 mx-auto lg:mx-0 px-4 py-6 lg:px-6">
			<div class="flex">
				{ tags.map(tag => (<>
					<a href={`/news/tags/${tag}/`} class="no-underline!">
						<div class="mr-2 mb-2 bg-blue-200 hover:bg-purple-200 px-2 py-1 leading-0">
							<span class="text-sm font-medium text-black uppercase">
								{ tag }
							</span>
						</div>
					</a>
				</>)) }
			</div>
			<p class="font-medium mb-0">
				By <span class="text-purple-700">{ author }</span> on { date.toLocaleDateString("en-GB") }
			</p>
		</div>
	</div>
	<article class="max-w-3xl mt-2 lg:mt-10 mx-auto px-4 pb-24 md:pb-32">
		<h1 class="mb-4 font-bold lg:text-5xl leading-tight">
			{ title }
		</h1>
		<slot />
	</article>
</BaseLayout>
